
@font-face {
    font-family: 'CASlalomExtended';
    src: url('assets/fonts/CASlalomExtended-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'CASlalomExtended';
    src: url('assets/fonts/CASlalomExtended-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CASlalomExtended';
    src: url('assets/fonts/CASlalomExtended-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CASlalomExtended';
    src: url('assets/fonts/CASlalomExtended-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CASlalomExtended';
    src: url('assets/fonts/CASlalomExtended-HeavyItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CASlalomExtended';
    src: url('assets/fonts/CASlalomExtended-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CASlalomExtended';
    src: url('assets/fonts/CASlalomExtended-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CASlalomExtended';
    src: url('assets/fonts/CASlalomExtended-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CASlalomExtended';
    src: url('assets/fonts/CASlalomExtended-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CASlalomExtended';
    src: url('assets/fonts/CASlalomExtended-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*// Указываем box sizing*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*// Убираем внутренние отступы*/
ul[class],
ol[class] {
    margin: 0;
    padding: 0;
}

/*// Убираем внешние отступы*/
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    padding: 0;
    margin: 0;
}

/*//Выставляем основные настройки по-умолчанию для body*/
body {
    width: 90%;
    margin: 0 auto;
    min-width: 100vh;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-image: url("./assets/background.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    font-family: var(--font-sans);
}

#overlay-root {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

:root {
    --font-sans: 'Open Sans', sans-serif;
    --font-jost: 'Jost', sans-serif;

    --white: #F3F3F3;
    --black: #181818;
    --grey: #262626;
    --dull-grey: #494949;
    --purple: linear-gradient(321.6deg, #9795F0 3.29%, #FBC8D4 101.27%);
    --light-grey: #E7E7E7;
    --violet: #6B69E7;
    --yellow: #FFB930;
    --red: #F43E49;
}

