.wrapper-why {
  margin-top: 8.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--black);


  .why-item {
    letter-spacing: 2.6px;
    width: 30rem;
    margin-right: 10rem;

    li {
      font-family: "CASlalomExtended", sans-serif;
      list-style: none;
    }

    p {
      font-weight: 700;
      font-size: 48px;
      line-height: 67px;
    }
  }
}