.wrapper-aboutUs {
  padding-top: 4.68rem;

  .span-article-aboutUs,
  .span-article-main {
    font-family: "CASlalomExtended", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    align-self: baseline;
  }
}