.white-button-style {
  border: 2px #E4E4E4 solid;
  width: 205px;
  height: 50px;
  border-radius: 90px;
  background: transparent;


  span {
    color: #E4E4E4;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}