.wrapper-costCalc {
  display: flex;
  flex-direction: column;

  .work-article {
    display: flex;
    flex-direction: row;
    gap: 2.1rem;
    margin-bottom: 2rem;
  }

  .date-pages {
    display: flex;
    flex-direction: row;
    gap: 2.1rem;
    margin-bottom: 2rem;
  }

  .email-phone {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2.1rem;
  }
}
