.wrapper-costCalc {
  display: flex;
  flex-direction: column;

  .work-article {
    display: flex;
    flex-direction: row;
    gap: 2.1rem;
    margin-bottom: 2rem;
  }

  .date-pages {
    display: flex;
    flex-direction: row;
    gap: 2.1rem;
    margin-bottom: 2rem;

    > div {
      width: 18.12rem;
    }
  }

  .email-phone {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2.1rem;
  }
}
.date-field {
  width: 18.12rem;
  position: relative;
}

.date__container {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.additional {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  > div {
    width: 290px;
  }
}