.wrapper-costCalc {
  display: flex;
<<<<<<< HEAD
  flex-direction: column;

  .themeInput {
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
  }

  .work-article {
    display: flex;
    flex-direction: row;
    gap: 2.1rem;
    margin-bottom: 2rem;
  }

  .date-pages {
    display: flex;
    flex-direction: row;
    gap: 2.1rem;
    margin-bottom: 2rem;
  }

  .email-phone {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2.1rem;
  }
}
=======
  flex-direction: row;
  gap: 2.1rem;
}
>>>>>>> 16357f74044352440f19e9c6ae196e9a5b2abbce
