.about-wrapper {
  margin-top: 8.75rem;
  display: flex;
  flex-direction: row;


  .about-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .block {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  .infoblock-item {
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1.8rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;

  }

  .text-area {
    max-width: 650px;
    overflow-wrap: break-word;
    width: 50%;
    .span-br {
      display: block;
      margin-top: 1.5rem;
    }
  }
}