.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .custom-range{
    width: 100%;
    position: relative;
    .active-area{
      position: absolute;
      height: 2px;
      background-color: #6B69E7;
      top: 65%;
      //transform: translateY(-50%);
      left: 0px;
    }
  }
  input {
    accent-color: #6B69E7;
    border-radius: 0;
    border: none;
    width: 100%;

    &::-webkit-slider-runnable-track {
      border-radius: 0;
      height: 2px;
      background-color: #fff;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      margin-top: -7px;
      background-color: #6B69E7;
      height: 16px;
      width: 16px;
      border-radius: 50%;
    }

    /******** Firefox styles ********/
    // &::-moz-range-track {
    //   background-color: red;
    //   border-radius: 0;
    //   height: 2px;
    // }
    //&::-moz-range-thumb {
    //   -webkit-appearance: none;
    //   appearance: none;
    //   margin-top: -7px;
    //   background-color: #6B69E7;
    //   height: 16px;
    //   width: 16px;
    //   border-radius: 50%;
    // }
  }

  .symbol {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    margin-top: 10px;
  }

}


