.dropdown {
  width: 290px;
  position: relative;

  .dropdown-btn {
    padding: 10px;
    background-color: inherit;
    border-bottom: var(--white) 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dropdown-content {
    position: absolute;
    top: 110%;
    padding: 10px;
    background-color: var(--white);
    font-weight: 500;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);

    .dropdown-item {
      padding: 10px;
    }
  }
}