.OrderAdvance-wrapper {
  margin-top: 9.37rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .order-items {
    width: 40.62rem;

    .order-item-span p {
      margin-bottom: 1.5rem;
      color: var(--dull-grey);
    }
  }
}