.wrapper-navbar {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: 2.75rem;

  .logo-navbar {
    z-index: 2;
  }

  .sidebar-button {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    span {
      width: 9.5rem;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }

    .sidebar-button-item {
      &:hover {
        cursor: pointer;
      }
    }

    h1 {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
  }
}