.work-process-wrapper {
  margin-top: 8.75rem;
  display: flex;
  justify-content: space-between;

  span {
    width: 21.87rem;
  }

  .work-process-container {
    width: 31.25rem;
    position: relative;
    margin-right: 9.5rem;

    svg {
      margin: 0 auto;
      display: block;
    }

    span {
      max-width: 10.75rem;
      position: absolute;

      &:nth-child(1) {
        top: 1.56rem;
      }

      &:nth-child(2) {
        top: 5.93rem;
      }

      &:nth-child(3) {
        top: 11.25rem;
        padding-right: 0.43rem;
      }

      &:nth-child(4) {
        top: 16.25rem;
        text-align: right;
      }

      &:nth-child(odd) {
        left: 0.93rem;
      }

      &:nth-child(even) {
        right: -0.62rem;
      }
    }
  }
}