.themeInput {
  padding: 10px 10px 10px 0px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
}

.phone-container {
  display: flex;
  column-gap: 20px;

  .phone-dropdown {
width: 8%;
    border-bottom: 1px solid var(--white);
  }

  .phone-field {
    width: 95%;
  }
}
